body {
    background: linear-gradient(90deg, #f52b02, #fffd3b);
}

h1 {
    text-align: center;

}

.table {
    background-image: url(../table.png);
    background-position: center;
    display: block;
    text-align: center;
    height: 600px;
    background-repeat: no-repeat;
}

.card {
    height: 90px;
    width: 70px;
}

button {
    border-radius: 50%;
    height: 40px;
    width: 40px;
   
}

input {
        border-radius: 50%;
        height: 40px;
        width: 40px;
}

p {
    color: rgb(247, 231, 17);
   
}

#hit {
    background-color: #47f502;
    font-size: 16px
}

#stay {
    background-color: #f52b02;
    font-size: 14px
}